.geneea .col {
    width: 45%;
    display: inline-block;
    vertical-align: top;
}
.geneea .col:not(:first-child) {
    margin-left: 5%;
}
.geneea .images-previews {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 30%;

}
.geneea .images .image-preview {
    width: 200px;
    height: 200px;
}
.geneea .images .image-preview .details {
    display: none;
    padding: 10px;
}

.geneea .images .image-preview:hover {
    height: auto;
    background: #eeeeee;
}

.geneea .images .image-preview:hover .details {
    display: block;
}

.geneea .images img {
    max-height: 100%;
    max-width: 100%;
    cursor: pointer;
}
.geneea .tag {
    background: white;
    padding: 5px;
    display: block;
}